@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}
/* .cl-internal-1p733cp {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  -webkit-box-align: stretch;
  align-items: stretch;
  gap: 2rem;
  background-color: black;
  transition-property: background-color, background, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 200ms;
  text-align: center;
  z-index: 10;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.03);
  border-radius: 0.5rem;
  position: relative;
  padding: 2rem 2.5rem;
  -webkit-box-pack: center;
  place-content: center;
  border-width: 0px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(25, 28, 33, 0.06) 0px 1px 2px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}
.cl-internal-1tpvhd8 {
  box-sizing: border-box;
  color: white;
  margin: 0px;
  font-family: inherit;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.0625rem;
  line-height: 1.41176;
}
.cl-internal-1vbkfwh {
  box-sizing: border-box;
  margin: 0px;
  font-size: 0.8125rem;
  font-family: inherit;
  letter-spacing: normal;
  font-weight: 400;
  line-height: 1.38462;
  color: whitesmoke;
  overflow-wrap: break-word;
}
.cl-internal-1c7fjmu {
  color: white;
  font-family: inherit;
  letter-spacing: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.38462;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.cl-internal-167tq3k {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  background: white;
  border-radius: 6px;
}
.cl-internal-1d24co7 {
  margin: 0px;
  padding: 0.375rem 0.5rem 0.375rem 0.875rem;
  outline: 0px;
  user-select: none;
  cursor: pointer;
  background-color: unset;
  color: white;
  position: relative;
  isolation: isolate;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  transition-property: background-color, background, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 100ms;
  font-family: inherit;
  letter-spacing: normal;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1.38462;
  --accent: #2F3037;
  --accentHover: #3B3C45;
  --border: #2F3037;
  --accentContrast: white;
  --alpha: hsla(0, 0%, 0%, 0.03);
  gap: 0.5rem;
  -webkit-box-align: center;
  align-items: center;
  border-width: 0px;
  border-radius: 0.375rem 0px 0px 0.375rem;
  background: white;
  border-radius: 6px;
}
.cl-phoneInputBox.🔒️.cl-internal-1dpploh {
  gap: 2px;
} */

